<div>
    <fieldset>
        <legend>Stock Qty</legend>
        <p>Current Stock Level</p>
        <p>On Request</p>
        <p>On Order</p>
        <p>Qty Available to assign</p>
        <p>Qty Available to pick</p>
        <p>Ordered QTY - Last 30 Days</p>
        <p>Ordered QTY - 31-60</p>
        <p>Ordered QTY - 61-90</p>
    
    </fieldset>

</div>